img{
    width: 200px;
    height: 230px;
    margin: 15px;


}

div{
    width: 700px;
    background-color: rgb(95, 10, 10);
    margin: 0 auto;
    
}

div .container-img{
    width: 224px;
    display: inline-block;
}

h2{
    text-align: center;
}

h3{
    display: none;
	opacity: 0.8;
	background:#cae5c1;
    padding: 5px;
    margin-top: -45px;
    width: 150px;
    margin-left: 34px;

}